.row {
    ul {
        margin: 0;
    }
    .bold {
        font-weight: bold;
    }
    #navigation {
        height: 53px;
        padding: 15px;
        border-top: 1px solid rgb(221, 221, 221);
        border-right: 1px solid rgb(221, 221, 221);
        border-left: 1px solid rgb(221, 221, 221);
        border-bottom: 1px solid rgb(221, 221, 221);;
    }
    #labels-container {
        padding: 20px;
        border-top: 1px solid rgb(221, 221, 221);
        border-right: 1px solid rgb(221, 221, 221);
        border-left: 1px solid rgb(221, 221, 221);
        border-bottom: 1px solid rgb(221, 221, 221);
    }
    .remove-left-margin {
        margin-left: 0;
    }
    .remove-top-border {
        border-top: hidden;
    }
    .sub-icons {
        margin-right: 10px;
    }
    .flip-horizontal {
        transform: scaleX(-1);
    }
    #add-label-button {
        transform: translateY(-4px);
    }
    .no-margin {
        margin: 0;
    }
    .input {
        border-bottom-color: rgba(240, 98, 146, 0);
        border: none;
    }
    div.focus {
        border-bottom-color: #81d4fa;
        transition: border-bottom-color .2s;
        box-shadow: none !important;
    }
    .chips {
        border-bottom-color: rgb(240, 98, 146);
    }
}
.option-padding {
    padding: 20px;
}
.display-block {
    display: block;
}
#placeholder {
    background-color: rgb(240, 98, 146);
    width: 100%;
    height: 50vh;
}